body {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    scroll-behavior: smooth;
}
html {
    scroll-behavior: smooth;
}

.fixedBackground {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    background: linear-gradient(to right, #070707, #313131);
}

.top-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    perspective: 500px;
}

.hero {
    position: relative;
    top: 10px;
    height: 55vh;
    width: 100%;
    display: flex;
    justify-items: flex-end;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    overflow-x: hidden;
}
.mainImg {
    height: 100%;
    width: auto;
    z-index: 5;
    padding-right: 10vw;
}
.mainWrapper {
    width: 60%;
    left: 0;
    position: absolute;
    height: auto;
    padding-left: 5%;
}

.logoWrapper {
    z-index: 10;
    background: #d00505;
    padding-top: 10px;
    opacity: .9;
}

#name {
    font-family: 'Syncopate', sans-serif;
    font-size: 70px;
    color: #f9f9f9;
    text-align: center;
    padding: 5px 0 0 0;
    margin: 0;
    z-index: 100;
    transform: translateZ(10px) translateY(-10px);
    font-weight: bold;
}

#time {
    font-family: 'Oxygen', serif;
    color: #d00505;
    font-size: 60px;
    position: relative;
    top: 50px;
    font-style: italic;
    text-align: center
}

#quote {
    font-family: 'Oxygen', serif;
    color: #E4E4E4;
    position: relative;
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
}

.header2 {
    font-family: 'Syncopate', sans-serif;
    font-size: 60px;
    color: #f9f9f9;
    padding: 0;
    margin: 0;
    text-align: center;
}

.header3 {
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    font-size: 40px;
    color: #f9f9f9;
    padding: 0 0 10px 0;
    margin: 0;
}

.mid-wrapper {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-items: space-between;
    justify-content: space-between;
    margin-top: 100px;
    width: 100%;
    background: #f2f3ee;
    overflow-x: hidden;
}


.billboard {
    width: auto;
    height: auto;
    max-height: 100vh;
    padding: 0;
    z-index: 10;
}

#front {
    padding-left: 10px;
}

#back {
    padding-right: 20px;
}

@media only screen and (max-width: 890px) {
    #name {
        font-size: 50px;
    }
    #time {
        font-size: 50px;
    }
    #quote {
        font-size: 30px;
    }
    .header2 {
        font-size: 45px;
    }
    .header3 {
        font-size: 30px;
    }
    .mainImg {
        right: 20px;
        padding-right: 0;
    }
}


@media only screen and (max-width: 670px) {
    #time {
        font-size: 40px;
    }
    #name {
        font-size: 40px;
    }
    #quote {
        font-size: 25px;
    }
    .header2 {
        font-size: 35px;
    }
    .header3 {
        font-size: 25px;
    }
    .mainImg {
        padding-right: 10px;
    }
}

@media only screen and (max-width: 555px) {
    .mainWrapper {
        padding-left: 0;
    }
    .top-wrapper {
        top: 50px;
    }

}

@media only screen and (max-width: 500px) {
    .mainImg {
        right: 0;
        transform: translateX(50px);
    }
    #name {
        font-size: 30px;
    }
    #time {
        font-size: 30px;
        padding-bottom: 10px;
    }
    #quote {
        font-size: 20px;
        padding-left: 5px;
    }
    .header2 {
        font-size: 25px;
    }
    .header3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 375px) {
    .hero {
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
    }
    .mainImg {
        height: 70%;
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateX(0);
    }
    .mainWrapper {
        width: 100vw;
    }
    #time {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        margin: 10px auto 0 auto;
    }
    #quote {
        padding-top: 40px;
    }
    #name {
        font-size: 25px;
    }
    @media only screen and (max-height: 600px) {
        #quote {
            font-size: 18px;
        }
    }

}


.midWrapper {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    padding-top: 50px;
}

.midHeader {
    color: #313131;
    font-size: 28px;
    text-align: center;
    font-family: 'Oxygen', serif;
    padding: 20px 0;
    margin: 0 0 0 0px;
    font-weight: bold;
}

.midSection {
    margin: 10px auto;
    text-align: center;
}

.midSubHeader {
    font-size: 25px;
    font-family: 'Oxygen', serif;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: #414141;
}
.midSubHeader2 {
    font-size: 23px;
    font-family: 'Oxygen', serif;
    padding: 0;
    font-weight: bold;
    color: #414141;
    margin: 0 auto;
}

.midPar {
    font-family: 'Playfair Display', serif;
    font-size: 23px;
    margin: 0;
    padding: 0;
    color: #515151;
}

.midContainer {
    padding: 10px 20px;
}

.spacer {
    padding: 15px 0;
}
.spacer1 {
    padding: 5px 0;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
}

.famPic {
    max-height: 65vh;
    height: auto;
    max-width: 100vw;
    width: auto;
}

#member {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: auto;
}
#school {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: auto;
}

#strengths {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: auto;
}
#weakness {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: auto;
}

.space {
    margin-left: 10px;
}

.column {
    display: flex;
    flex-flow: column;
    text-align: justify;
    width: auto;
    height: auto;
}

.padding {
    padding-left: 25px;
    padding-right: 25px;
}

.center {
    text-align: center;
}

.siteLink {
    text-decoration: none;
}

.siteLink:hover {
    color: #d00505;
}

.padding-top2 {
    padding: 20px 0 0 0;
}

.big {
    font-size: 30px;
}

.min-width {
    min-width: 300px;
    height: auto;
    width: auto;
}

#strengthsWrapper {
    padding-bottom: 40px;
}

.line {
    width: 100%;
    height: 2px;
    background: #414141;
    margin-bottom: 40px;
}

.contactRow {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
}

.contactColumn {
    width: 40%;
    min-width: 300px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #676767;
}

.input {
    width: 80%;
    border: none;
    height: 30px;
    font-size: 15px;
}

input:focus {
    outline: none;
}

.form_label {
    padding-right: 15px;
    justify-self: baseline;
    align-self: baseline;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 20px;
    width: auto;
}

.message_row {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    justify-items: baseline;
    align-content: baseline;
    align-items: baseline;
    border-bottom: 1px solid #676767;
    margin-top: 20px;
    margin-bottom: 20px;
}

.message_input {
    width: 90%;
    height: 30px;
    font-size: 15px;
    background: #F9F9F9;
    border: none;
}


#form-button {
    margin: 20px auto 50px auto;
    height: 30px;
    width: 100px;
    font-size: 15px;
    color: #676767;
    background-color: #f9f9f9;
    border: 1px solid #B9B8B8;
}
#form-button:hover {
    cursor: pointer;
}

.contact-header {
    max-width: 95%;
    color: #414141;
    margin: 10px auto;
    text-align: center;
    font-size: 25px;
    font-family: 'Oxygen', serif;
}

.contact-subHeader {
    max-width: 95%;
    color: #515151;
    font-family: 'Oxygen', serif;
    font-size: 22px;
    text-align: center;
    margin: 10px auto;
}

.sign-wrapper {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    height: auto;
    max-height: 100vh;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.signHeader {
    font-family: 'Oxygen', serif;
    font-size: 23px;
    color: #414141;
    text-align: center;
}

.door-hanger {
    height: auto;
    max-width: 25vw;
    max-height: 90vh;
    width: auto;
    height: auto;
    justify-self: center;
    align-self: center;
    padding: 0 5px;
}
.yard-sign {
    height: auto;
    width: 50vw;
    justify-self: center;
    align-self: center;
    padding: 0 5px;
}

.sign-holder {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .yard-sign {
        max-width: 90vw;
        max-height: 50vh;
        height: auto;
        width: auto;
        justify-self: center;
        align-self: center;
    }
    .door-hanger {
        max-width: 50vw;
        max-height: 80vh;
        height: auto;
        width: auto;
        justify-self: center;
        align-self: center;
    }
}